#form-popup {
    width: 35%;
    max-width: 700px;
    max-height: 800px;
    min-width: 600px;
}

@media print {
    #form-popup {
        border: none;
        box-shadow: none;
    } 
    .unprint * {
        display: none;
    }
}
