<div id="doctor-page" class="flex flex-col h-full grow">
    <app-nav-bar></app-nav-bar>
    <div class=" flex gap-4 p-6 overflow-hidden">
        <div class="flex flex-col gap-4">
            <app-patient-info class="bg-white"> </app-patient-info>
            <app-patient-history class="bg-white flex overflow-hidden border-2 rounded-lg px-8 py-8 flex flex-col gap-4"> </app-patient-history>
        </div>
        <app-patients class="bg-white flex overflow-hidden border-2 rounded-lg px-8 py-8 flex flex-col gap-4"> </app-patients>

    </div>
</div>

