<div id="doctor-page" class="flex flex-col h-full grow" route-protect>
    <app-nav-bar></app-nav-bar>
    <div class=" flex gap-4 p-6 overflow-hidden justify-around relative flex-1">
        <div class="flex flex-col gap-4">
            <app-patient-info [curPatient]="this.doctorService.getCurPatient()?.actor"> </app-patient-info>
            <app-doctor-patient-history class="flex overflow-hidden h-full"> </app-doctor-patient-history>
        </div>
        <div [class.app-patients-hidden]="!(rightBarService.isPatientsBarVisible() | async)" 
             class="lg:static lg:p-0 lg:overflow-visible lg:bg-transparent lg:w-fit
                    sm:absolute sm:right-0  sm:px-6 sm:pb-12 sm:overflow-hidden 
                    h-full flex justify-end 
                    z-10
                    ">
            <app-patients class="flex overflow-visible">
            </app-patients>
        </div>
    </div>
</div>