<div class="border-2 rounded-lg px-8 py-8 flex flex-col gap-4">
    <h1 class="text-3xl font-bold">Patient's Info</h1>
    <div class="flex flex-row  w-full">
        <app-title-info class="flex-1 text-gray-500 text-gray-800" title="Name" info="Harti Dhayaa"></app-title-info>
        <app-title-info class="flex-1 text-gray-500 text-gray-800" title="Gender" info="male"></app-title-info>
        <app-title-info class="flex-1 text-gray-500 text-gray-800" title="Address" info="Azazga, Tizi Ouzou"></app-title-info>
        <app-title-info class="flex-1 text-gray-500 text-gray-800" title="Email" info="tipaza gmail.com"></app-title-info>
    </div>
    <div class="flex flex-row  w-full">
        <app-title-info class="flex-1 text-gray-500 text-gray-800" title="NSS" info="0001823838"></app-title-info>
        <app-title-info class="flex-1 text-gray-500 text-gray-800" title="Age" info="20"></app-title-info>
        <app-title-info class="flex-1 text-gray-500 text-gray-800" title="Phone Number" info="0558 28 88 12"></app-title-info>
        <app-title-info class="flex-1 text-gray-500 text-gray-800" title="Emergency Contact" info="0553 12 11 99"></app-title-info>
    </div>
    <div class="text-gray-500 text-gray-800 text-xl">
        <h1>Past Medical Condition</h1>
        <p class="text-black text-lg">Hypertension (diagnosed in 2018), managed with Amlodipine 5 mg daily and lifestyle changes. Blood pressure stabilized since 2021 without complications.Patient adheres to a low-sodium diet and regular exercise routine.</p>
    </div>
</div>