<div class="flex flex-col h-full grow" route-protect>
    <app-nav-bar></app-nav-bar>
    <div class=" flex gap-4 p-6 overflow-hidden justify-around h-full">
        <div class="flex flex-col gap-4 flex-1 h-full">
            <div class="flex justify-between">
      

    
                <app-dropdown (onSelectItemCallback)="onSelectHospital($event)" [selectedItem]="this.curHospital.name"  [items]="this.hospitalNames"></app-dropdown>


                <button  (click)="onCreateHospital()" class="text-lg px-4 py-2 rounded text-white font-bold"
                    style="background-color: #61CAE8;">
                    <span class="text-2xl mr-2">+</span> <span>Add New Hospital</span>
                </button>



            </div>

            <app-admin-status [stats]="this.hospitalStats!" class="bg-white"> </app-admin-status>
            <app-admin-patients #table [data]="this.petientList" class="bg-white flex flex-1 overflow-hidden border-2 rounded-lg px-8 py-8 flex flex-col gap-4"> </app-admin-patients>
        </div>



        <div [class.app-patients-hidden]="!(rightBarService.isPatientsBarVisible() | async)" class="lg:static lg:p-0 lg:overflow-visible lg:bg-transparent lg:w-fit
                    sm:absolute sm:right-0  sm:px-6 sm:pb-28 sm:overflow-hidden 
                    h-full flex justify-end 
                    z-10
                    ">
            <app-admin-workers [list]="this.workerList" class="flex overflow-visible"></app-admin-workers>
        </div>

    </div>
</div>