<div class="flex flex-col h-full grow" route-protect>

    <app-nav-bar></app-nav-bar>

    <div class="p-6 flex gap-4 overflow-hidden h-full w-full" route-protect>

        <section class=" flex flex-col gap-4 overflow-hidden h-full flex-1">
            <app-patient-info [curPatient]="patient?.actor"> </app-patient-info>




            <div [class.overflow-y-hidden]="this.patient == undefined"  class="relative overflow-x-hidden custom-border-gray border-2 rounded-lg px-8 py-6 bg-white flex w-full flex-col gap-8 flex-1 h-2 overflow-scroll">
            
                
                <div *ngIf="this.patient == undefined" class="overlay absolute w-full top-0 left-0 z-10  h-full bg-gray-800 opacity-5">
                </div>
    
            
                <div class="flex justify-between">
                    <h1 class="text-2xl font-bold" style="color: #222; font-size: 28px;">
                        Requested Test: {{patient?.title || '...'}}
                    </h1>
                </div>


                <ul style="list-style-type:disc;" class="pl-4 text-lg font-medium">
                    <li>
                        {{patient?.resume || "notes..."}}
                    </li>
                    <!-- <li *ngFor="let note of requested.notes">{{note}}</li> -->
                </ul>


                <div class="flex-1 h-full flex flex-col gap-1">
                    <h1 class="font-meduim text-2xl">Resume</h1>

                    <app-minput-field [disable]="patient?.status == 'completed'" [default_value]="patient?.results || ''" #resumeInp 
                    title="The patient reacted well to the injection, experiencing minimal discomfort. Vital signs remained stable throughout the procedure. Laboratory tests were successfully performed with no complications," 
                    class="flex-1" in_class="h-full">
                    </app-minput-field>

                    <app-custom-button *ngIf="patient?.status != 'completed'"  (click)="onClickSumbmit()" title="Submit" class="self-end"> </app-custom-button>
                </div>
            </div>




        </section>




        <div [class.bar-hidden]="!(rightBarService.isPatientsBarVisible() | async)" class="lg:static lg:p-0 lg:overflow-visible lg:bg-transparent lg:w-fit
           sm:absolute sm:right-0  sm:px-6 sm:pb-12 sm:overflow-hidden 
           h-full flex justify-end 
           z-10
           ">

            <app-nurse-test-history class="flex overflow-visible"> </app-nurse-test-history>
        </div>
    </div>
</div>