
<app-frame in_class="gap-3 border-2 rounded-lg flex flex-col bold bg-white  custom-border-gray flex flex-col">
    <div class="flex justify-between ">
        <h1 class="font-bold" style="font-size: 28px;">Patient {{this.curPatient.actor.name}}</h1>
        <div class="flex gap-4">
            <button class="border-2 custom-border-gray px-4 py-1 rounded-lg font-bold" style="color: #21323A">Preview Prescriptions</button>
            <button class="text-white border-2  px-4 py-1 rounded-lg font-bold" style="background-color: #61CAE8;">Create Prescriptoin</button>
            </div>

    </div>
    <div class="flex flex-col gap-1">
        <h1 class="font-medium text-xl">Reason</h1>
        <p>{{this.selectedDpi?.reason}}</p>
    </div>
    <div class="flex flex-col gap-1">
        <h1 class="font-medium text-xl">Resume</h1>
         <app-minput-field [default_value]="this.selectedDpi?.resume || ''"   #resumeInp title="eg. head injury...">
         </app-minput-field>
    </div>
    <app-custom-button (click)="onSave()" class="self-end" bg_color="#7DC8C1" title="Save"></app-custom-button>
</app-frame>
