<div class="flex flex-col h-full overflow-hidden">
    <app-nav-bar></app-nav-bar>

    <div id="doctor-preview-dpi" class="flex flex-col h-full grow gap-6 p-6 overflow-hidden ">
        <div class="border-2 rounded-lg px-8 py-8 flex flex-col gap-4 bold text-lg bg-white">
            <app-dpi-info></app-dpi-info>
        </div>
    
        <div class="border-2 rounded-lg px-8 py-8 flex flex-col gap-4 bold text-lg bg-white overflow-hidden">
    
            <app-dpi-history class="overflow-hidden flex flex-col"></app-dpi-history>
        </div>
    </div>
</div>
