<div id="form-popup" class="medical-popup flex flex-col px-12 py-8 bg-white rounded-xl text-lg gap-4 shadow"
    (click)="onClick($event)">
    <div class="flex flex-col justify-between gap-6 ">
        <h1 class="font-bold text-2xl" style="color: #EA5555;">Delete Worker</h1>
        <div class="flex justify-between">
            <p class="font-bold">
                Are you sure you want to delete midoo za3im ?
                This action can not be undone.
            </p>
            <app-custom-button title="Create" class="self-end" bg_color="#EA5555">  </app-custom-button>
        </div>
    </div>
</div>