:host {
    width: 100%;
}
* {
    margin: 0;
}

// #logo {
//     align-self: flex-start;
//     max-width: 10%;
// }


// .bi-container {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     align-self: center;
//     justify-self: center;
//     gap: 64px;
// }


// .right {
//     display: flex;
//     gap: 38px;
//     flex-direction: column;


//     .headline {
//         display: flex;
//         flex-direction: column;
//         align-items: center;

//         h1 {
//             font-size: 38px;
//             align-self: center;
//             font-weight: 600;
//             margin-bottom: 8px;

//             span {
//                 color: #61CAE8;
//             }
//         }

//         p {
//             color: #8E8E8E;
//             font-weight: 600;
//             font-size: 16px;
//             font-family: "Inter", sans-serif;
//         }

//     }

//     .wellcome {
//         display: flex;
//         flex-direction: column;
//         gap: 0px;

//         h1 {
//             font-size: 30px;
//         }
//     }


//     .inputs {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//         gap: 16px;

       

//     }


//     .signin {
//         background: #61CAE8;
//     }

//     .prblm {
//         align-self: center;

//         span {
//             color: #404040;
//             font-weight: 500;
//             text-decoration: underline;
//             cursor: pointer;

//             &:hover {
//                 color: #0099c5;
//             }
//         }
//     }

// }


.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width:  60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


@media (min-width: 1px) and (max-width: 768px) { 
  .left {
    display: none;
  }
}
