<router-outlet></router-outlet>

<div id="popup"  [class.hidden-popup]="!(popupService.isVisible() | async)" (click)="popupService.hidePopup()"
    class="flex z-10 flex-col items-center justify-center w-full h-full" [ngSwitch]="popupService.getType()  | async">
    <app-radiology-popup *ngSwitchCase="'dpi:radiology'" class="flex flex-col items-center justify-center w-full h-full"></app-radiology-popup>
    <app-medical-popup *ngSwitchCase="'dpi:medical'" class="flex flex-col items-center justify-center w-full h-full"></app-medical-popup>
    <app-graph-popup *ngSwitchCase="'dpi:graph'" class="flex flex-col items-center justify-center w-full h-full"></app-graph-popup>
    <app-admin-create-hospital *ngSwitchCase="'admin:create-hospital'" class="flex flex-col items-center justify-center w-full h-full"></app-admin-create-hospital>
    <app-admin-create-worker *ngSwitchCase="'admin:create-worker'" class="flex flex-col items-center justify-center w-full h-full"></app-admin-create-worker>
    <app-delete-worker *ngSwitchCase="'admin:delete-worker'" class="flex flex-col items-center justify-center w-full h-full"></app-delete-worker>
    <app-admin-create-dpi *ngSwitchCase="'doctor:create-dpi'" class="flex flex-col items-center justify-center w-full h-full"></app-admin-create-dpi>
    <app-doctor-create-prescription *ngSwitchCase="'doctor:create-prescription'" class="flex flex-col items-center justify-center w-full h-full"></app-doctor-create-prescription>
</div>