<div id="form-popup" class="medical-popup flex flex-col px-12 py-8 bg-white rounded-xl text-lg gap-4 shadow" (click)="onClick($event)">
    <div class="flex flex-col justify-between gap-6 ">
        <div>
            <h1 class="font-bold text-3xl">Create a new hospital</h1>
        </div>
        <app-title-input title="Hospital Name"> </app-title-input>
        <app-title-input title="Address"> </app-title-input>
        <app-custom-button title="Create" class="self-end"> </app-custom-button>
    </div>
</div>


