.medical-popup { 
     width: 50%; 
     height: fit-content; 
     min-width: 840px;
 } 
 


#bar g {
    stroke: red;
}
.asdasdasd {
}
#bar {
    /* background-color: green; */
}

line , .asdasdasd {
    stroke-width: 2;
}