<app-frame title="Test History" class="overflow-visible flex flex-col  h-full relative" in_class="flex flex-col gap-8 custom-max-w-72 overflow-hidden p-2 h-full  overflow-visible">

  <p class="self-center text-meduim" *ngIf="tests.length == 0">No Tests yet</p>
  <div class="overflow-x-hidden flex flex-col gap-3 overflow-scroll -mr-4">
    <app-test-history-item class="pr-2" *ngFor="let item of tests" [test]="item"></app-test-history-item>
  </div>
 
  <img (click)="
  rightBarService.togglePatientsBar()"
   width="32" 
   [class.rotate-180]="(rightBarService.isPatientsBarVisible() | async)"
   style="left: -16px; top: calc(50% - 16px);" src="/assets/back.png" alt="back" 
   class="absolute lg:hidden lg:hidden">

</app-frame>