


<div class="flex flex-col gap-2 {{in_class}}">
      <p *ngIf="required_title.length" class="text-xl font-medium">{{required_title}} <span class="text-xl font-light text-red-600">*</span></p>
      <p *ngIf="none_required_title.length" class="text-xl font-medium">{{this.none_required_title}} </p>
      
      <textarea 
      [defaultValue]="default_value"
      #input 
      (input)="onChange()" 
       type="text" 
       class="w-full rounded px-4 py-4 border-2 h-full {{this.class}}" 
       placeholder="{{title}}"
        style="border-color: #b3b3b381;"
       >
</textarea>
  </div>

