

.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}


.axis--x path {
    /*display: none;*/
}

.line {
    fill: none;
    stroke-width: 1.5px;
}
.line-first {
    stroke: #7BC7BF;

}
.line-second {
    stroke: #61CAE8;
}


#graph {
    height: 100%;
    width: 100%;
}

g.tick line, .domain {
    stroke-dasharray: 4;
    stroke: #CCCCCC;
}