@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-error: #bc544b;

  --background-color: #FCFCFC;
  --text-color: #363636;


  --gray-color: #8C8C95
}

.custom-text-gray {
  color: var(--gray-color);
}
.custom-border-gray {
  border-color: #DBDBDB
}


html {
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #61CAE8 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;

}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 14px;
  border: 1px groove #000000;
}

.cdk-describedby-message-container {
  display: none;
}
.cdk-overlay-container {
  display: none;

}