  <h1 class="text-3xl font-bold">History</h1>
  
  <div class="mat-elevation-z8 overflow-y-scroll">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th class="text-gray-600" mat-header-cell *matHeaderCellDef mat-sort-header>Doctor</th>
        <td class="font-bold text-lg" mat-cell  *matCellDef="let row">{{row.id}}</td>
      </ng-container>
      
      <ng-container matColumnDef="date">
        <th class="text-gray-600" mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
        <td class="font-bold text-lg" mat-cell  *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th class="text-gray-600" mat-header-cell *matHeaderCellDef mat-sort-header>Lasted For</th>
        <td class="font-bold text-lg" mat-cell  *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      
      <ng-container matColumnDef="sgph">
        <th class="text-gray-600" mat-header-cell *matHeaderCellDef mat-sort-header>SGPH</th>
        <td class="font-bold text-lg" mat-cell  *matCellDef="let row">{{row.id}}</td>
      </ng-container>
      
      <ng-container matColumnDef="reason">
        <th class="text-gray-600" mat-header-cell *matHeaderCellDef mat-sort-header>Reason</th>
        <td class="font-bold text-lg" mat-cell  *matCellDef="let row">{{row.id}}</td>
      </ng-container>
      

      <ng-container matColumnDef="name">
        <th class="text-gray-600" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td class="font-bold text-lg" mat-cell  *matCellDef="let row">{{row.name}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="!border-0" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator
        [length]="dataSource?.data?.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page">
    </mat-paginator>
  </div>



